<div class="gryffeditor">
<div data-label="Text Block"> <div class="elm text-edit"><p>Aktuell können wir nur innerhalb Deutschlands liefern.</p>
<p>Alle Bestellungen werden versandkostenfrei per Briefpost verschickt.</p>
<p>Bestellungen die Montags bis Freitags vor 14:00 Uhr eingehen, werden am gleichen  Tag versendet.</p>
<p>Als Zahlungsmittel akzeptieren wir: PayPal, Mastercard, Visa und American Express</p></div></div>
</div><div id="divContentBk"></div>